:root {
  --start-topicButton_wrap: transparent;
  --theming-topicButton_wrap: transparent;
  --utilities-topicButton_wrap: transparent;
  --errors-topicButton_wrap: transparent;
  --styling-topicButton_wrap: transparent;
  --visibility-topicButton_wrap: none;
}
.topicButton_wrap {
  position: sticky;
  background-color: black;
  top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  user-select: none;
  gap: 24px;
  color: var(--gray);
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
}
@media only screen and (max-width: 1401px) {
  .topicButton_wrap {
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    gap: 12px;
  }
}
.topicButton_wrap .hamburger {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 32px;
}
@media only screen and (min-width: 948px) {
  .topicButton_wrap .hamburger {
    display: none;
  }
}
@media only screen and (max-width: 948px) {
  .topicButton_wrap .hamburger {
    display: flex;
  }
}
@media only screen and (max-width: 948px) {
  .topicButton_wrap [data-topic] {
    display: var(--visibility-topicButton_wrap) !important;
    width: 100%;
    justify-content: center;
    margin-left: 12px;
    margin-right: 12px;
  }
}
.topicButton_wrap code {
  font-size: 16px;
}
@media only screen and (max-width: 1401px) {
  .topicButton_wrap code {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1401px) {
  .topicButton_wrap .more-text {
    display: none;
  }
}
.topicButton_wrap [data-topic] {
  display: flex;
  gap: 12px;
  align-items: center;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: 0.25s ease;
  outline: 2px solid transparent;
  cursor: pointer;
}
.topicButton_wrap [data-topic]:active {
  background-color: rgb(255, 255, 255, 0.4);
}
.topicButton_wrap [data-topic]:hover {
  outline-color: #c6c4d3;
}
.topicButton_wrap [data-topic="start"] {
  outline-color: var(--start-topicButton_wrap);
}
.topicButton_wrap [data-topic="start"] p:nth-child(2) {
  color: #ffffff;
}
.topicButton_wrap [data-topic="start"] code {
  --color: white;
  --bg: #3535f9;
  background-color: var(--bg);
  color: var(--color);
  padding: 6px;
  border-radius: 12px;
}
.topicButton_wrap [data-topic="styling"] {
  outline-color: var(--styling-topicButton_wrap);
}
.topicButton_wrap [data-topic="styling"] p:nth-child(2) {
  color: #ffffff;
}
.topicButton_wrap [data-topic="styling"] code {
  --color: white;
  --bg: #3535f9;
  background-color: var(--bg);
  color: var(--color);
  padding: 6px;
  border-radius: 12px;
}
.topicButton_wrap [data-topic="theming"] {
  outline-color: var(--theming-topicButton_wrap);
}
.topicButton_wrap [data-topic="theming"] p:nth-child(2) {
  color: #ffffff;
}
.topicButton_wrap [data-topic="theming"] code {
  --color: white;
  --bg: #3535f9;
  background-color: var(--bg);
  color: var(--color);
  padding: 6px;
  border-radius: 12px;
}
.topicButton_wrap [data-topic="errors"] {
  outline-color: var(--errors-topicButton_wrap);
}
.topicButton_wrap [data-topic="errors"] p:nth-child(1) {
  color: white;
}
.topicButton_wrap [data-topic="errors"] code {
  --color: white;
  --bg: #bd3737;
  background-color: var(--bg);
  color: var(--color);
  padding: 6px;
  border-radius: 12px;
}
.topicButton_wrap [data-topic="utilities"] {
  outline-color: var(--utilities-topicButton_wrap);
}
.topicButton_wrap [data-topic="utilities"] p:nth-child(2) {
  color: white;
}
.topicButton_wrap [data-topic="utilities"] code {
  --color: white;
  --bg: #3535f9;
  background-color: var(--bg);
  color: var(--color);
  padding: 6px;
  border-radius: 12px;
}
