.utilities_wrapper img[alt="3-1"] {
  width: 560px;
}
.utilities_wrapper img[alt="3-2"] {
  width: 700px;
}
.utilities_wrapper img[alt="3-3"] {
  width: 680px;
}
.utilities_wrapper img[alt="3-4"] {
  width: 600px;
}
.utilities_wrapper img[alt="3-5"] {
  width: 550px;
}
.utilities_wrapper img[alt="3-6"] {
  width: 700px;
}
.utilities_wrapper img[alt="3-7"] {
  width: 450px;
}
.utilities_wrapper img[alt="3-8"] {
  width: 700px;
}
.utilities_wrapper img[alt="3-9"] {
  width: 500px;
}
.utilities_wrapper img[alt="3-10"] {
  width: 700px;
}
.utilities_wrapper img[alt="3-11"] {
  width: 550px;
}
.utilities_wrapper img[alt="3-12"] {
  width: 650px;
}
.utilities_wrapper img[alt="3-13"] {
  width: 450px;
}
