.advanced_wrapper img[alt="2-1"] {
  width: 550px;
}
.advanced_wrapper img[alt="2-2"] {
  width: 700px;
}
.advanced_wrapper img[alt="2-3"] {
  width: 540px;
}
.advanced_wrapper img[alt="2-5"] {
  width: 540px;
}
.advanced_wrapper img[alt="2-6"] {
  width: 410px;
}
.advanced_wrapper img[alt="2-7"] {
  width: 530px;
}
.advanced_wrapper img[alt="2-8"] {
  width: 450px;
}
.advanced_wrapper img[alt="2-9"] {
  width: 560px;
}
.advanced_wrapper img[alt="2-10"] {
  width: 520px;
}
.advanced_wrapper img[alt="2-11"] {
  width: 520px;
}
.advanced_wrapper img[alt="2-12"] {
  width: 520px;
}
.advanced_wrapper img[alt="2-13"] {
  width: 420px;
}
.advanced_wrapper img[alt="2-14"] {
  width: 540px;
}
.advanced_wrapper img[alt="2-15"] {
  width: 540px;
}
.advanced_wrapper img[alt="2-16"] {
  width: 540px;
}
.advanced_wrapper img[alt="2-17"] {
  width: 450px;
}
.advanced_wrapper img[alt="2-18"] {
  width: 600px;
}
.advanced_wrapper img[alt="2-19"] {
  width: 700px;
}
