.title_wrap {
  display: flex;
  padding: 60px;
  align-items: center;
  box-sizing: border-box;
  gap: 46px;
}
@media only screen and (max-width: 700px) {
  .title_wrap {
    flex-direction: column;
  }
}
.title_wrap img {
  user-select: none;
  box-shadow: 0 0 100px #2d2dbe;
  border-radius: 36px;
  width: 220px;
  height: 220px;
}
.title_title {
  color: white;
  font-size: 26px;
}
.title_title [data-blue] {
  font-family: Poppins-Bold;
  font-size: 36px;
  color: #9274f3;
}
.title_title @query p:first-child {
  margin-left: 0;
}
.title_title [data-white] {
  font-family: Poppins-Bold;
  font-size: 36px;
  color: #ffffff;
}
.title_title [data-orange] {
  font-size: 32px;
  color: #ffffbe;
}
.title_title * {
  margin-left: 12px;
  display: inline;
  color: var(--gray);
}
