.theme_highlight {
  background-color: white;
}
.theme_wrapper img[alt="4-1"] {
  width: 700px;
}
.theme_wrapper img[alt="4-2"] {
  width: 700px;
}
.theme_wrapper img[alt="4-3"] {
  width: 350px;
}
.theme_wrapper img[alt="4-4"] {
  width: 500px;
}
.theme_wrapper img[alt="4-5"] {
  width: 500px;
}
.theme_wrapper img[alt="4-6"] {
  width: 500px;
}
.theme_wrapper img[alt="4-7"] {
  width: 500px;
}
.theme_wrapper img[alt="4-8"] {
  width: 500px;
}
.theme_wrapper img[alt="4-9"] {
  width: 500px;
}
.theme_wrapper img[alt="4-10"] {
  width: 340px;
}
.theme_wrapper img[alt="4-11"] {
  width: 450px;
}
.theme_wrapper img[alt="4-14"] {
  width: 700px;
}
.theme_wrapper img[alt="4-15"] {
  width: 450px;
}
.theme_wrapper img[alt="4-17"] {
  width: 500px;
}
.theme_wrapper img[alt="4-19"] {
  width: 500px;
}
.theme_wrapper img[alt="4-30"] {
  width: 400px;
}
