.theme_wrapper img[alt="4-1"] {
  width: 700px;
}
.theme_wrapper img[alt="4-2"] {
  width: 700px;
}
.theme_wrapper img[alt="4-3"] {
  width: 350px;
}
.theme_wrapper img[alt="4-4"] {
  width: 500px;
}
.theme_wrapper img[alt="4-5"] {
  width: 500px;
}
.theme_wrapper img[alt="4-6"] {
  width: 500px;
}
.theme_wrapper img[alt="4-7"] {
  width: 500px;
}
