.utils_box {
  line-height: 2;
  width: 700px;
  letter-spacing: 0.02em;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
  padding-bottom: 120px;
}
@media only screen and (max-width: 700px) {
  .utils_box {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
}
.utils_box .fl {
  margin-left: 32px;
}
.utils_box img {
  mix-blend-mode: screen;
}
@media only screen and (max-width: 700px) {
  .utils_box img {
    max-width: 100%;
    width: 100% !important;
    display: block;
    height: auto;
  }
}
.utils_box em {
  color: wheat;
}
.utils_box em.lib {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 999px;
  color: white;
  background-color: #373adb;
}
.utils_wrapper {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 48px;
}
.utils_wrapper img {
  border: 2px solid var(--gray);
  border-radius: 24px;
  padding: 36px;
  transition: 0.125s ease;
  box-sizing: border-box;
}
.utils_wrapper img:hover {
  border-color: var(--white);
}
@media only screen and (max-width: 514px) {
  .utils_wrapper img {
    border: none;
    padding: 0;
  }
}
.utils_wrapper [data-hoverborder] {
  border: 2px solid var(--gray);
  border-radius: 24px;
  padding: 36px;
  transition: 0.125s ease;
  box-sizing: border-box;
}
