.stylingTopic_copyPopover {
  padding: 12px;
}
.popoverPluginContainer:has(.stylingTopic_copyPopover) {
  background-color: #222222;
  border-radius: 12px;
  color: #a8a8a8;
}
:root {
  --cs-stylingTopic_cursorInstall: pointer;
}
.stylingTopic_cursorInstall {
  cursor: var(--cs-stylingTopic_cursorInstall);
}
.stylingTopic_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  width: 700px;
  padding-bottom: 120px;
}
@media only screen and (max-width: 700px) {
  .stylingTopic_box {
    width: auto;
  }
}
.stylingTopic_box [data-lib-text] {
  text-wrap: nowrap;
}
.stylingTopic_box .first-letter {
  margin-left: 32px;
}
.stylingTopic_box .img-detail {
  position: relative;
}
.stylingTopic_box .img-detail [data-dom] {
  position: absolute;
  right: 16px;
  top: 60px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 99px;
  width: 26px;
  height: 26px;
}
.stylingTopic_box .img-detail :first-child {
  position: absolute;
  right: 16px;
  top: 16px;
  background-color: #5937ff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 99px;
}
.stylingTopic_box .img-detail :first-child[data-click] {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  transition: 0.25s ease;
  user-select: none;
}
.stylingTopic_box .img-detail :first-child[data-click]:hover {
  background-color: #795eff;
}
.stylingTopic_box .img-detail :first-child[data-click]:active {
  background-color: #ab9bff;
}
.stylingTopic_box .allset {
  color: #ffcf76;
}
.stylingTopic_box .groupImg {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.stylingTopic_box img {
  width: 700px;
}
@media only screen and (max-width: 700px) {
  .stylingTopic_box img {
    width: 100%;
  }
}
.stylingTopic_box [data-img-6] {
  width: 650px;
}
.stylingTopic_box [data-img-7] {
  width: 600px;
}
.stylingTopic_box img[data-img-3] {
  width: 450px;
}
@media only screen and (max-width: 700px) {
  .stylingTopic_box img[data-img-3] {
    width: 100%;
  }
}
.stylingTopic_box img[data-img-5] {
  width: 500px;
}
@media only screen and (max-width: 700px) {
  .stylingTopic_box img[data-img-5] {
    width: 100%;
  }
}
.stylingTopic_box p {
  line-height: 2;
  letter-spacing: 0.02em;
  text-align: justify;
}
.stylingTopic_box img {
  mix-blend-mode: screen;
}
.stylingTopic_box em[data-lib] {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 999px;
  color: white;
  background-color: #373adb;
}
.stylingTopic_box em {
  color: wheat;
}
.stylingTopic_box [data-install-wrapper] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 100px !important;
  border-radius: 16px;
}
.stylingTopic_box [data-install-lib] {
  display: flex;
  gap: 12px;
}
.stylingTopic_box [data-install] {
  padding: 12px;
  color: #c6c6c6;
  box-sizing: border-box;
  background-color: #202020;
  transition: 0.25s ease;
  border-radius: 12px;
  user-select: none;
}
.stylingTopic_box [data-install-lib-txt]:hover {
  background-color: #303030;
  color: wheat;
}
.stylingTopic_box [data-install-ext]:hover {
  background-color: #303030;
  color: #c3b3f5;
}
.stylingTopic_box [data-wrapper] {
  display: flex;
  gap: 6px;
}
