:root {
  --bg-utilsForTest_box: #2e2e2e;
}
.utilsForTest_box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--bg-utilsForTest_box);
}
:root {
  --color-utilsForTest_box2: #2e2e2e;
}
.utilsForTest_box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--color-utilsForTest_box2);
}
